<form action="">
    <div class="form-group">
        <input hinvHover hinvHover="steelblue" type="email" class="form-control" name="email" [(ngModel)]="email"
            placeholder="UserName">
        
    </div>
    <div class="form-group">
        <input hinvHover hinvHover="steelblue" type="password" class="form-control" name="password" [(ngModel)]="password"
            placeholder="Password">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="Login()">Login</button>
    </div>
</form>